{% extends 'global/base.html' %}


{% block content %}
    <div>{{ author }}</div>
    <div>{{ accomplishment.title }}</div>
    <div>{{ accomplishment.notes }}</div>
    <div>{{ accomplishment.get_impostor_level_display }}</div>
    <div>{{ accomplishment.get_privacy_display }}</div>
    <div>{{ accomplishment.created }}</div>
    <div>{{ accomplishment.updated }}</div>
    
    {% if request.user != accomplishment.user %}
        <form
        method="POST"
        action="{% url 'accomplishments:inspiration' accomplishment_id=accomplishment.pk %}"
        >
            {% csrf_token %}
            <input type="hidden" name='inspiration_id' value="{{ inspiration }}">
            <input type="submit" value="{% if inspiration is None %}Inspiring{% else %}Uninspiring{% endif %}">
        </form> 
    {% endif %}
        
    
{% endblock content %}
    