{% extends 'global/base.html' %}


{% block content %}
    <div>{{ user.username }}</div>
    <div>{{ user.defaultprivacy.get_setting_display }}</div>
    
    {% if editable %}
        <a href="{% url 'profile:update' username=request.user.username %}"><button>Update Profile</button></a>
    {% elif following %}
        <a href="{% url 'profile:unfollow' username=user.username %}"><button>Unfollow</button></a>
    {% else %}
        <a href="{% url 'profile:follow' username=user.username %}"><button>Follow</button></a> 
    {% endif %}
        
    
{% endblock content %}
    